code {
  background: #000;
}

code ol {
  text-align: left;
}

code ol li {
  margin-bottom: 0.5rem;
}

.assignmentDetails {
  position: relative;
  margin-top: 1.5rem;
  padding: 1rem 1rem 0.5rem 0.5rem;
  height: 180px;
  background: #000;
  font-size: 0.7rem;
  overflow-x: hidden;
  overflow-y: scroll;
}

.assignmentDetails:before {
  content: 'Based on the assignment instructions below:';
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  padding: 2px 4px;
  background: #eee;
  color: #000;
  font-size: 0.65rem;
}
